@import url(../css/model.css);
@import url(../css/details.css);
@import url(../css/category.css);
@import url(../css/step.css);
@import url(../css/responsive.css);
@import url(../font/cairo.css);
*,
:after,
:before {
  font-family: "Cairo", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  /*========== Colors ==========*/
  --first-color: #42526e;
  /* --first-color-alt: hsl(355, 66%, 50%);
--title-color: hsl(355, 4%, 15%);
--text-color: hsl(355, 4%, 35%);
--text-color-light: hsl(355, 4%, 55%);
--body-color: #fff;
--container-color: #fff; */
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
body {
  direction: rtl;
}
.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.bold {
  font-weight: bold;
}
.bd-r {
  border-right: 1px solid #e5e9f2;
}
.display-flex {
  display: flex;
}
.font-normal {
  font-weight: normal;
}
.text-small {
  font-size: 10px;
}
.red {
  color: #d4050b;
}
button,
input,
select {
  font-family: "Tajawal", sans-serif;
  font-family: "Cairo", sans-serif;
}
/* Start Navbar */
.navbar {
  background-color: #f9fafc;
  border-bottom: 1px solid #e5e9f2;
}
.navbar .nav-link {
  display: flex;
}
.navbar .nav-link li {
  padding-left: 25px;
  padding-right: 10px;
}
.navbar .nav-link li img {
  margin-left: 6px;
  font-size: 16px;
}
.navbar .nav-link a {
  color: var(--first-color);
  display: inline-flex;
  align-items: center;
  height: 40px;
  font-size: 14px;
}
.navbar .nav-link .currency {
  margin-left: 19px;
  margin-right: 19px;
}
.ltr{
  direction: ltr;
}
/* End Navbar */

/* Start Headre */
.header {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.header input {
  background-color: #eff2f7;
  border-radius: 25px;
  border: none;
  font-family: "Cairo", sans-serif;
  padding: 10px;
  height: 42px;
  width: 60%;
}

.header .cart {
  display: flex;
  font-size: 30px;
  color: var(--first-color);
  background-color: #eff2f7;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  position: relative;
}
.cart .num{
  display: none;
  text-align: center;
  border-radius: 9px;
  background-color: #ff952c;
  width: 22px;
  height: 16px;
  font-size: 10px;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
}
/* End Headre */

/* Start Main */

/* Start Main Slider */
.main .slider {
  margin-top: 20px;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  margin-bottom: 50px;
  position: relative;
}
.slider img {
  display: none;
  width: 100%;
  transition: opacity 1s;
  z-index: 1;
}
.slider img.active {
  display: block;
}
/* .slider .prev {
  display: none;
} */
.container-dot {
  text-align: center;
  margin-top: 10px;
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active,
.dot:hover {
  background-color: #717171;
}
/* End Main Slider */

/* Start Small Slider */
.small-slid {
  display: flex;
  overflow: hidden;
  position: relative;
}
.small-slid .itme {
  display: flex;
  margin-left: 10px;
  margin-top: 10px;
}
.small-slid .itme img {
  width: 120px;
  height: 100px;
}
.small-slid 
.prevt,
.nex {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -38px;
  color: #b1abab;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
}
.small-slid .prevt {
  right: 0;
}
.small-slid .nex {
  left: 0;
}
/* End Small Slider */

/* Start Brands */
.brands .brand-small {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 10px;
}
.brands .brand-small img {
  width: 24%;
}
/* End Brands */

/* End Main */

/* Start Footer */
footer {
  background-color: #333333;
  min-height: 300px;
  color: #fff;
}
footer h3 {
  font-size: 16px;
  color: #a6a6a6;
  padding-bottom: 7px;
  padding-top: 22px;
  border-bottom: 1px solid #444;
}
footer .footer-top .footer-right {
  margin-top: 10px;
  width: 20%;
  margin-left: 10px;
}
footer .footer-top .footer-right .form-email {
  background-color: #484848;
  padding: 5px;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 5px;
  height: 120px;
}
footer .social {
  margin-bottom: 20px;
}
footer .social img {
  margin-top: 10px;
}
footer .footer-top .footer-right input {
  display: block;
  border: none;
  margin-top: 10px;
  background-color: #eff2f7;
  padding: 5px;
  border-radius: 5px;
  width: 100%;
  font-family: "Cairo", sans-serif;
}
footer .footer-top .footer-right button {
  font-family: "Cairo", sans-serif;
  border: none;
  margin-top: 5px;
  padding: 7px;
  float: left;
}
footer .footer-top .footer-left {
  margin-top: 10px;
  width: 80%;
  justify-content: space-between;
}
footer .footer-top .footer-left li {
  margin-bottom: 10px;
}
footer .footer-top .footer-left a {
  color: #fff;
  font-size: 14px;
}
footer .footer-bottom {
  background-color: #e6e6e6;
  height: 100px;
  padding-top: 20px;
  font-size: 13px;
}
/* footer .footer-bottom .right {
} */
footer .footer-bottom .left {
  direction: ltr;
  color: black;
}
footer .footer-bottom .left a {
  color: black;
  margin-top: 10px;
}
/* End Footer */
.tital {
  margin-bottom: 10px;
}
.container-book{
  gap: 20px;
  padding: 10px 10px;
  overflow-x: scroll;
  flex-wrap: nowrap;
  position: relative;
  width: 90%;
  margin: 0 auto;
  justify-content: unset !important;
  scroll-behavior: smooth;
}

.container-book::-webkit-scrollbar {
  display: none;
}
.container-book .prevt,
.container-book .nex {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -38px;
  color: #b1abab;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
}

.container-book .nex {
  left:-16px;
}
.container-book .prevt{
  right: -16px;
}
.box-books{
  display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.box-book {
  width: 200px;
  box-shadow: 2px 2px 30px rgb(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 30px;
  margin-right: 10px;
}
.slide-book {
  height: 300px;
  position: relative;
}
.slide-book img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-sizing: border-box;
}
.detail-book {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  box-sizing: border-box;
  flex-direction: column;
}
.detail-book .title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: hsl(0, 0%, 13%);
}
.main-titl {
  color: #717171;
}
.detail-book .title img {
  margin-left: 5px;
}
.pr .price {
  margin-top: -11px;
  color: #f70f06;
  font-weight: 600;
  font-size: 1.7rem;
  display: block;
  margin-bottom: -22px;
}
.pr .price span {
  font-size: 12px;
  color: #f70f06;
}
.pr span {
  font-size: 10px;
  color: #717171;
}
.box-book .icon-price {
  display: flex;
  align-items: center;
}
.box-book .icon-price .add-cart {
  width: 40px;
  height: 40px;
  background: #f70f06;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-left: 35px;
  margin-right: 35px;
  cursor: pointer;
}
.overlay {
  position: absolute;
  left: 55%;
  top: 50%;
  transform: translate(-55%, -50%);
  width: 100%;
  height: 100%;
  background-color: rgba(92, 95, 236, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}
.buy-btn {
  width: 160px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  color: #252525;
  font-weight: 700;
  border-radius: 20px;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
}
.buy-btn:hover {
  color: #ffffff;
  background-color: #d4060e;
  transition: all ease 0.3s;
}
.overlay {
  visibility: hidden;
}
.slide-book:hover .overlay {
  visibility: visible;
  animation: fade 0.5s;
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.adv-container {
  position: fixed;
  bottom: -250px;
  width: 90%;
  max-width: 720px;
  display: flex;
  align-items: center;
  background-color: #eff2f7;
  color: var(--first-color);
  padding: 0 16px;
  border-radius: 24px;
  box-shadow: 0 8px 20px -4px rgba(0, 0, 0, 0.2);
  z-index: 1;
  left: 50%;
  transform: translate(-50%);
  transition: all 1800ms ease;
}
.adv-container.activ {
  bottom: 20px;
}
.adv-container h3 {
  font-weight: 800;
  font-size: 16px;
}
.adv-container .text-content {
  padding: 0 24px;
  padding-right: 40px;
}
.adv-container p.author-name {
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  color: var(--first-color);
}
.adv-container a {
  color: #d4050b;
}
.adv-container .close {
  position: absolute;
  top: 16px;
  left: 16px;
  cursor: pointer;
}

/* Start Page Checkout */
.main-tital {
  display: flex;
  margin-top: 100px;
  margin-bottom: 20px;
}
.main-tital span {
  margin-top: 16px;
  margin-right: 10px;
}
.container-cart {
  display: flex;
}
.cart-right {
  width: 60%;
}
.cart-right .box-cart {
  border: 1px solid #eff2f7;
  margin-bottom: 20px;
  padding: 20px;
}
.cart-right .box-cart .discount-note {
  font-size: 14px;
  font-style: italic;
}
.cart-right .cart-tital {
  display: flex;
  justify-content: space-between;
}
.cart-right .cart-tital .right {
  display: flex;
  justify-content: space-between;
}
.cart-right .cart-tital .pric {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cart-right .cart-bootm {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 65px;
  margin-bottom: 30px;
}
.cart-right .cart-bootm .note {
  background-color: #fff9eb;
  padding: 10px;
  border-radius: 5px;
  border-right: 10px solid #ffd400;
  margin-top: 12px;
}
.cart-right .cart-bootm input {
  width: 35px;
  height: 33px;
  text-align: center;
}
.cart-right .delet-cart {
  border-top: 1px solid #eff2f7;
  padding-top: 20px;
  cursor: pointer;
}
.container-cart .cart-left {
  width: 30%;
  margin-right: 30px;
  border: 1px solid #eff2f7;
  padding: 10px;
}
.container-cart .cart-left .box-top {
  margin-bottom: 80px;
}
.container-cart .cart-left .total,
.shipping,
.total-sum {
  display: flex;
  justify-content: space-between;
}
.container-cart .cart-left {
  font-size: 20px;
  height: fit-content;
}

.container-cart .cart-left .free {
  color: #14b54e;
}
.container-cart .cart-left .text {
  font-size: 12px;
}
.container-cart .cart-left .btn-finsh {
  border: none;
  color: #fff;
  background-color: #d4070e;
  padding: 5px;
  padding-bottom: 10px;
  width: 100%;
  max-height: 40px;
  border-radius: 3px;
  font-weight: bolder;
  font-size: 16px;
  margin-bottom: 20px;
  margin-top: 10px;
  cursor: pointer;
}

/* End Page Checkout */
